* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 1540px;
    height: 100vh;
    margin: auto;
    border: 1px solid #000;
}


/* ======= NEW_PRODUCTS ====== NEW_PRODUCTS ======= */
.main__cards h1 {
    text-align: center;
    margin-top: 20px;
}

.cards__inner {
    display: flex;
    justify-content: center;
    background-color:#f9f9f9;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    gap: 1.5em;
}
 
.card {
    margin-top: 35px;
    color: #000000;
    background-color: white;
    border: 1px solid #eceff133;
    border-radius: 5px;
    font-size: 11px;
    width: 470px;
    height: 400px;
    box-shadow: 1px 1px 20px 20px #f0f0f0;
}

.cards__card img {
    width: 465px;
    height: 350px;
}
.View_more{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #f9f9f9;
}

.more{
    width: 200px;
    height: 45px;
    background: #000;
    font-size: 16px;
    color: #fff;
    border: 1px solid #000;
}
.more:hover{
    background:#2e9bbb;
    color: #fff;
    transition: 0.9s;
    border: 1px solid#2e9bbb;
}